smtpd_banner = $myhostname ESMTP $mail_name (myDNS)
biff = no
append_dot_mydomain = no
html_directory = no
readme_directory = no
myhostname = {{ ansible_hostname }}.fanswifi.com
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
myorigin = $myhostname
mydestination = $myhostname, localhost
mynetworks = 127.0.0.0/8
mailbox_size_limit = 0
message_size_limit = 0
recipient_delimiter = +
inet_protocols = ipv4
inet_interfaces = loopback-only
