[DEFAULT]
bantime    = 86400
backend    = auto
destemail  = {{ fail2ban_destmail }}
findtime   = 600
ignoreip   = {{ fail2ban_trusted_hosts|join(" ") }}
maxretry   = 3
mta        = sendmail
banaction  = iptables-multiport
chain      = INPUT
protocol   = tcp
usedns     = warn
action_    = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mw  = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             %(mta)s-whois[name=%(__name__)s, dest="%(destemail)s", protocol="%(protocol)s", chain="%(chain)s"]
action_mwl = %(banaction)s[name=%(__name__)s, port="%(port)s", protocol="%(protocol)s", chain="%(chain)s"]
             %(mta)s-whois-lines[name=%(__name__)s, dest="%(destemail)s", logpath=%(logpath)s, chain="%(chain)s"]
action     = %(action_mwl)s

[ssh]
enabled  = true
port     = ssh
filter   = sshd
logpath  = /var/log/auth.log
maxretry = 6

[unbound]
enabled  = true
filter   = unbound
logpath  = /var/log/syslog
maxretry = 3
port     = 53
protocol = udp
findtime = 86400
