server:
    access-control: 0.0.0.0/0 allow
{% for addr in ansible_all_ipv4_addresses %}
    access-control: {{ addr }}/32 allow_snoop
{% endfor %}
    access-control: 127.0.0.0/8 allow_snoop
    directory: "/etc/unbound"
    do-daemonize: yes
    extended-statistics: no
    harden-dnssec-stripped: yes
    harden-glue: yes
    harden-large-queries: yes
    harden-referral-path: no
    harden-short-bufsize: no
    hide-identity: yes
    hide-version: yes
    incoming-num-tcp: 10
    infra-cache-lame-size: 10k
    infra-cache-numhosts: 10000
    infra-cache-slabs: 4
    infra-host-ttl: 900
    infra-lame-ttl: 900
    interface: 0.0.0.0
    interface-automatic: no
    jostle-timeout: 200
    keep-missing: 31622400
    key-cache-size: 4m
    key-cache-slabs: 4
    module-config: "validator iterator"
    msg-buffer-size: 65552
    msg-cache-size: 4m
    msg-cache-slabs: 4
    neg-cache-size: 1m
    num-queries-per-thread: 1024
    outgoing-interface: {{ ansible_default_ipv4['address'] }}
    outgoing-num-tcp: 10
    outgoing-port-avoid: "3200-3208"
    outgoing-port-permit: 32768
    outgoing-range: 4096
    port: 53
    prefetch: no
    prefetch-key: no
    root-hints: "/var/lib/unbound/root.hint"
    rrset-cache-size: 4m
    rrset-cache-slabs: 4
