#!/bin/sh

TMPFILE=/tmp/unbound_update.$$
CONF_DIR=/etc/unbound/unbound.conf.d
usedns={{ use_dns }}
domain_list="
{% for dom in override_domains %}
{{ dom }}
{% endfor %}
"

for domain in $domain_list
do
    ipaddr=`host $domain $usedns | awk '/has address/{print $4;exit;}'`
    if test "$ipaddr"; then
	cat <<EOF >>$TMPFILE
local-zone: "$domain" redirect
local-data: "$domain A $ipaddr"
EOF
    fi
done

if ! test -s $CONF_DIR/override.conf; then
    touch $CONF_DIR/override.conf
fi
if ! cmp $TMPFILE $CONF_DIR/override.conf; then
    mv $TMPFILE $CONF_DIR/override.conf
    service unbound restart
fi >/dev/null 2>&1

exit 0
